//The 0.7 will make the dropdown-menu transparent.
.navbar-expand-lg{
  background-color: #c0c0d3;
  background-image: linear-gradient(0deg, #c0c0d3 3%, #b5b2cb 12%, #bcaecf 33%);
}
//For CRUD menu.
.dropdown-menu{
  background-color: rgba(192, 192, 211, 0.7);
  background-image: linear-gradient(0deg, rgba(192, 192, 211, 0.5) 3%, rgba(181, 178, 203, 0.5) 12%, rgba(188, 174, 207, 0.5) 33%);
  --bs-dropdown-link-hover-bg: rgba(237, 237, 237, 0.7);    //When hover on an element.
  --bs-dropdown-link-active-bg: rgba(81, 73, 107, 0.3);     //When press an element.
}

//For search bar.
.form-control{
  background-color: rgba(192, 192, 211, 0.3);
}

//Dropdown toggle change after the menu is opened.
.dropdown-toggle[aria-expanded="true"]:after{
  rotate: 180deg;
}


//We had to set a different font for a better aspect of the updated badge.
.rounded-pill{
  font-family: sans-serif;
}

.modal-content{
  background-color: rgba(192, 192, 211, 0.7);
  background-image: linear-gradient(0deg, rgba(192, 192, 211, 0.5) 3%, rgba(181, 178, 203, 0.5) 12%, rgba(188, 174, 207, 0.5) 33%);
  --bs-modal-header-border-color: #c0c0d3;
  --bs-modal-footer-border-color: fade-in();
}

.privacy-policy{
  color: white;
}
