.rounded-start-2{
  background-color: #56446d;
  background-image: linear-gradient(43deg, #56446d 0%, #465a67 13%, #25845b 26%, #449f69 33%, #ce93d8 78%, #603771 100%);
  border-color: #57337d;
}

.rounded-end-2{
  background-color: #c0c0d3;
}

.border{
  --bs-border-color: #57337d;
}
