<footer class="card text-center">
  <app-privacy-message class="container-fluid text-center small message" ></app-privacy-message>


  <div class="card-header">
    <a routerLink="/welcome">
      <img ngSrc="assets/img/Logo/Care&Grow_Logo_navbar.png" width="137" height="23">
    </a>
  </div>

  <div class="card-body">
    <p class="card-text text-center">
      <span class="position-absolute start-0 translate-middle-y ms-2">© 2023 Marcu Tămaș</span>
      <span class="position-absolute end-0 top-75 translate-middle">
        <a href="https://github.com/MarcuTamas" alt="GitHub" class="me-3">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/tamasmarcu" alt="LinkedIn">
          <i class="bi bi-linkedin"></i>
        </a>
      </span>
    </p>
  </div>
</footer>
